body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Container styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    

}

table th, table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    
}

table th {
    background-color: #f2f2f2;
    color: #a67527;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #edd9a6;
}

h2 {
    color: #a67527;
    text-align: center;
    margin-bottom: 20px;
}